@model IEnumerable<TestProj.Models.TestSummaryModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

</div>
<div>

    <h3>Hello, @User.Identity.Name!</h3>
    <hr />

    <div>

        @if (Model != null && Model.Any())
        {
            @foreach (TestSummaryModel testSummary in Model)
            {
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="@testSummary.ImageUrl" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@testSummary.Name</h5>
                        <a href="tests/@(testSummary.Id)/summary" class="btn btn-primary">Start</a>
                    </div>
                </div>
                <br />
            }
        }
        else
        {
            <div class="alert alert-info" role="alert">
                You have no tests yet.
            </div>
        }

    </div>

</div>

<style>
    h2 {
        font-size: larger;
    }

    .test {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: darkgrey;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 20px 5px 5px 20px;
    }
</style>