@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

</div>
<div>
    <div class="test">
        <h2>Test_name</h2>
        <button>Start_test</button>
    </div>
</div>

<style>
    h2{
        font-size:larger;
    }

    .test {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: darkgrey;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 20px 5px 5px 20px;
    }
</style>