@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h1>Question</h1>
<p>Question text which must be answered?</p>
<ul>
    <li>
        <input type="radio"  name="answer"/>
        <label> answer 1 </label>
    </li>
    <li>
        <input type="radio" name="answer"/>
        <label> answer 2 </label>
    </li>
    <li>
        <input type="radio" name="answer"/>
        <label> answer 3 </label>
    </li>
    <li>
        <input type="radio" name="answer"/>
        <label> answer 4 </label>
    </li>
</ul>
<button>Next question</button>